<!DOCTYPE html>
<html>
<head>
<title>Ascii Art</title>
</head>

<body>
    
    <center>
      <legend><h2>Banner:</h2></legend>
      <form action="/ascii-art" method="post">
     
    <textarea rows="10" cols="50" name="input" placeholder="Type something..."></textarea>
  <input type="radio"  name="banner" value="standard" checked>
  <label for="standard">Standard</label>

  
  <input type="radio" name="banner" value="shadow">
  <label for="shadow">Shadow</label>
  
  <input type="radio" name="banner" value="thinkertoy">
  <label for="thinkertoy">Thinkertoy</label>

  <input type="radio"  name="banner" value="graffiti">
  <label for="graffiti">Graffiti</label>

  <input type="submit">
  
  </form>
</center>

</body>

</html>